@import "./reset.css";


h1,
h2,
h3 {
    font-family: "Quebrado" !important;
    font-size: 4em;
    color: #7200ff;
}

a {
    color: #7200ff !important;
}

body {
    color: #350077;
}

section {
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    /* position: absolute; */
    width: 100%;
    height: 80vh;
    background: white;
    /* left: -129%; */
}


nav {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
}

.nav h1 {
    font-size: 2em;
}

.nav ul {
    display: flex;
    width: fit-content;
}

.nav li {
    margin-left: 1em;
}

.index__inner {
    position: relative;
}

img {
    position: absolute;
    left: -129%;
    transition: ease-in-out;
    max-height: 90vh;
}

.home {

    background-image: url(../images/background/blue-tablet-screen.jpg);
    background-position: center;
    background-size: contain;

    background-repeat: no-repeat;
}